<div class="row info-links">
  <div class="col-md-4">
    <%= link_to software_path do %>
      <%= image_tag "SLL_PRODUCT_Software_graphic.png" %>
      <p>Available Software</p>
    <% end %>
  </div>
  <div class="col-md-4">
    <a href="http://softwarelendinglibrary.org/downloads-and-documentation.html">
      <%= image_tag "SLL_PRODUCT_GetItAtLibrary_graphic.png" %>
      <p>Get it at your library</p>
    </a>
  </div>
  <div class="col-md-4">
    <%= link_to available_reservations_path do %>
      <%= image_tag "SLL_PRODUCT_UseIt_laptop_graphic.png" %>
      <p>Use it!</p>
    <% end %>
  </div>
</div>
