<%= form_tag new_reservation_path, :method => :post do %>
  <div class="row">
    <div class="span3">
      <div><p>Reserve up to three hours at a time</p></div>
      <div class="sll-times">
        <div class="sll-time-fields">
          <ul class="unstyled">
            <% @st.hours_of_day_available.each_with_index do |time, i| %>
              <li>
                <%= content_tag :label, :class => 'checkbox', 
                  :title => time[:hour].to_date.to_s do %>
                  <%= check_box_tag "sll-times[]", 
                    time[:hour].to_formatted_s, false, :id => 'sll-times_' + i.to_s,
                    :disabled => (time[:available] ? nil : "disabled") %>
                  <span><%= time[:hour].strftime("%I:%M%p") %></span>
                  <span class="sll-light-gray">
                     - <%= time[:hour].end_of_hour.strftime("%I:%M%p") %>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div> <!-- end sll-times -->
    </div>
    <hr class="visible-phone"/>
    <div class="span3 sll-post">
      <button class="btn btn-success btn-large">Make Reservation</button>
    </div>
  </div>
<% end %>
