<%= form_tag new_reservation_path, :method => :post do %>
  <div class="row">
    <div class="span3">
      <div><p>Reserve up to three hours at a time</p></div>
      <div class="sll-times">
        <div class="sll-time-fields">
          <ul class="unstyled">
            <% # FIX THIS %>
            <% @schedule.availability_blocks do |o, i| %>
              <li>
                <div>                  
                  <% o[:availability].each do |k, v| %>
                    <%= content_tag :label, :class => 'checkbox', 
                      :title => o[:hour].to_date.to_s do %>
                    <%= check_box_tag "sll-times[times[]]", 
                      time[:hour].to_formatted_s, false, :id => 'sll-times_#{k}_#{i}',
                      :disabled => (v ? nil : "disabled") %>
                    <%= hidden_field_tag "sll-times[resource_id]" %>
                    <span><%= o[:hour].strftime("%I:%M%p") %></span>
                    <span class="sll-light-gray">
                      - <%= o[:hour].end_of_hour.strftime("%I:%M%p") %>
                    </span>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div> <!-- end sll-times -->
    </div>
    <hr class="visible-phone"/>
    <div class="span3 sll-post">
      <button class="btn btn-success btn-large">Make Reservation</button>
    </div>
  </div>
<% end %>
