<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul class="unstyled">
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>Confirm this reservation</p>
  <div class="row">
    <div class="span6">
      <%= f.hidden_field :start_datetime %>
      <%= f.hidden_field :end_datetime %>
      <%= f.hidden_field :resource_id %>
      <table class="table table-bordered">
        <tr>
          <th>Date</th>
          <th>Time</th>
        </tr>
        <tr>
          <% date = @reservation.start_datetime.in_time_zone(user_timezone).to_date.to_formatted_s(:long) %>
          <% time = raw([ @reservation.start_datetime.in_time_zone(user_timezone).strftime("%I:%M%p"), 
            @reservation.end_datetime.in_time_zone(user_timezone).strftime("%I:%M%p") ].join(" &ndash; ")) %>
          <td><%= date %></td>
          <td><%= time %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="actions form-actions">
    <%= f.submit :class => 'btn btn-primary' %>&nbsp;&nbsp;
    <%= link_to 'Back', available_reservations_path, :class => 'btn btn-warning' %>
  </div>
<% end %>
