<%= render 'shared/sll_nav', :active => {:existing => 'active'} %>
<div class="page-header">
  <h4>Listing reservations</h4>
</div>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Options</th>
    <th>RDP file</th>
  </tr>
  <% if @reservations.empty? %>
    <tr><td colspan="4">There's nothing here.</td></tr>
  <% else %>
    <% @reservations.each do |reservation| %>
      <tr>
        <td>
          <%= reservation.start_date_long_formatted_string %>
        </td>
        <td>
          <%= raw(reservation.time_slot_dashed_formatted_string) %>
        </td>
        <td>
          <%= link_to 'Destroy', reservation, {
            :method => :delete, 
            :data => { :confirm => 'Are you sure?' }
          } %>
        </td>
        <td>
          <%= link_to "Download", rdp_file_path %>
        </td>
      </tr>
    <% end %>
  <% end %>  
</table>

<%= link_to 'New Reservation', available_reservations_path %>
