<div class="alert-warning alert">
  <p>Please use your library card number and PIN as username and password when logging in to the remote desktop</p>
</div>
<div class="page-header">
  <h4>My reservations</h4>
</div>
<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Options</th>
    <th>Session File</th>
  </tr>
  <% if @reservations.empty? %>
    <tr><td colspan="4">There's nothing here.</td></tr>
  <% else %>
    <% @reservations.each do |reservation| %>
      <% date = reservation.start_datetime.in_time_zone(user_timezone).to_date.to_formatted_s(:long) %>
      <% time = raw([ reservation.start_datetime.in_time_zone(user_timezone).strftime("%I:%M%p"), 
        reservation.end_datetime.in_time_zone(user_timezone).strftime("%I:%M%p") ].join(" &ndash; ")) %>
      <tr>
        <td><%= date %></td>
        <td><%= time %></td>
        <td>
          <%= link_to 'Delete', reservation, {
            :method => :delete, 
            :data => { :confirm => 'Are you sure?' }
          } %>
        </td>
        <td>
          <%= link_to "Begin Session", rdp_file_path %>
        </td>
      </tr>
    <% end %>
  <% end %>  
</table>
<%= link_to 'New Reservation', available_reservations_path, :class => 'btn btn-primary' %>
