<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= content_for?(:title) ? yield(:title) : "Kansas City Public Library Software Lending Library" %>
    </title>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
      <hr/>
      <footer>
        <div class="footer-img">
          <%= image_tag 'logos-2.png', :class => 'img-responsive' %>
          <a href="https://mozillaignite.org" class="mozilla-link"></a>
          <a href="http://www.kclibrary.org" class="kcpl-link"></a>
          <a href="http://www.arsalon.net" class="arsalon-link"></a>
        </div>
        <div class="table-div table-div-three">
          <div><span>&copy; Kansas City Public Library 2013</span></div>
          <div><a href="#">Contact</a></div>
          <div><a href="#">Find out how to start a software lending library in your community</a></div>
        </div>
        
      </footer>

    </div> <!-- /container -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
